/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.signup-org-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: #f4f7fb;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Shadow for depth */
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2em;
}

.signup-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

label {
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #007bff;
    border-radius: 5px;
    transition: border-color 0.3s;
}

input:focus {
    border-color: #0056b3;
    outline: none;
}

.admin-addresses {
    margin-bottom: 15px;
}

.admin-address-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.remove-button, .add-button, .submit-button {
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.remove-button:hover, .add-button:hover, .submit-button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.error {
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}



/* Flexbox to make page fit within view height */
.page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Responsive Styles */
@media (max-width: 600px) {
    h2 {
        font-size: 1.5em;
    }

    .signup-form {
        width: 90%;
    }
}
